# See https://help.github.com/ignore-files/ for more about ignoring files.

### BACK

# dependencies
back-end/venv

#MISC
back-end/f1hub/*/__pycache__
back-end/f1hub/*/migrations

### FRONT

# dependencies
/front-end/node_modules

# testing
/front-end/coverage

# production
/front-end/build
/front-end/dist
/front-end/.next

# misc
/front-end.DS_Store
/front-end.env
/front-endnpm-debug.log*
/front-endyarn-debug.log*
/front-endyarn-error.log*

